.teams-container{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .team{
        border: 1px solid #ccc;
        padding-left: 10px;
        padding-right: 10px;
    }
}