#content{

    .legend{
        border : 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
    }

    padding: 0 20px;
    #btn-newRound{
        background: transparent;
        border: 1px solid #aaa;
        padding: 5px 10px;
        margin-bottom: 10px;
        border-radius:5px;
        cursor: pointer;
        &:hover{
            background-color: #eee;
        }
    }
}